#if($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end
#if($ctx.result && $util.time.nowEpochMilliSeconds() <= $ctx.result.expires_at)
  $util.qr($ctx.stash.put("result", $ctx.result.content))
#end
{}
